#angular-app {
    overflow: auto;
    height: 100%;
    font-family: 'lucida grande', 'Open Sans', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
}

header {
    color: #7F3272;
    padding: 20px 20px 12px 0;
    border-bottom: solid 1px #DDD;
    margin-bottom: 20px;
    min-height: 30px;

    background-size: 235px 50px;
    background-repeat: no-repeat;
    background-position: 5px center;
}

header span {
    font-size: 4em;
    font-weight: 900;
}
header div {
    display: inline-block;
    position: relative;
	border-radius: 13px;
	background-clip: padding-box;
    height: 26px;
    width: 200px;
    padding: 0 20px 0 28px;
	background-color: #ebeff1;
	line-height: 26px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 9px 50%;
	background-image: url("search.png");
    float: right;
}

header input {
	background-color: #ebeff1 !important;
	color: #4b5c66;
	border: none !important;
	width: 95%;
	outline: none;
	margin: 0 0 2px 0 !important;
	padding: 0 !important;
	font-size: 12px !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075) !important;
}

header input:focus {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075) !important;
}

header .search_clear {
    display: block;
    position: absolute;
    top: 2px;
    right: 3px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-image: url("close.png");
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}


#content {
    min-height: 250px;
    padding-bottom: 20px;
    border-bottom: solid 1px #DDD;
}

#content table th {
    color: rgb(184, 195, 201);
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

#content table {
    width: 100%;
    border: solid 1px #DDD;
}

#content table tr {
    line-height: 35px;
}

#content table tr:nth-child(even) {
    background: #f6f6f6;
}

#content table td {
    color: #7f326f;
}

#content table td:nth-child(1) {
    text-align: center;
}

#content table td, #content table th{
    text-align: center;
    border-left: solid 1px #DDD;
}

.new-line {
    background-color: rgb(205, 255, 196);
}
