<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title>Xke angular dart</title>
<link href="css/bootstrap.min.css" media="screen" rel="stylesheet"
  type="text/css">
<link type="text/css" rel="stylesheet" href="css/shCore.css" />
<link type="text/css" rel="stylesheet" href="css/shThemeDefault.css" />
<link href="css/main.less" media="screen" rel="stylesheet/less"
  type="text/css">

<link href="css/github-PLS.css" rel="stylesheet" type="text/css">
<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div id="tutorial" ng-include="tuto/tuto.html"></div>

  <!-- Your code here -->
  <div id="angular-app" ng-app log-ctrl>

    <header>
      <div>
        <input type="text" ng-model="query" placeholder="Search a message..."/>
      </div>

    </header>

    <div id="navigation">
      <div>HTTP status</div>
      <ul>
        <li><input type="checkbox" ng-model="logCtrl.status['200']"  id="200"><label
          for="200">200</label></li>
        <li><input type="checkbox" ng-model="logCtrl.status['404']" id="404"><label
          for="404">404</label></li>
        <li><input type="checkbox" ng-model="logCtrl.status['500']" id="500"><label
          for="500">500</label></li>
      </ul>
      <br>
      <div>HTTP method</div>
      <ul>
        <li><input type="checkbox" ng-model="logCtrl.methods['GET']" id="GET"><label
          for="GET">GET</label></li>
        <li><input type="checkbox" ng-model="logCtrl.methods['POST']" id="POST"><label
          for="POST">POST</label></li>
        <li><input type="checkbox" ng-model="logCtrl.methods['PUT']" id="PUT"><label
          for="PUT">PUT</label></li>
        <li><input type="checkbox" ng-model="logCtrl.methods['DELETE']" id="DELETE"><label
          for="DELETE">DELETE</label></li>
      </ul>
    </div>

   <ng-view></ng-view>

    

    <!-- Do not remove. Used for test purposes -->
    <div id="test" style="display: none">{{"Test"}}</div>
    <!-- -->
  </div>
  <!-- End of your code -->
  <script type="application/dart" src="main.dart"></script>
  <script src="packages/browser/dart.js"></script>
  <script src="packages/browser/interop.js"></script>
  <script src="js/less.js"></script>
  <script src="js/highlight-PLS.js"></script>
</body>
</html>
